body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2 {
    font-weight: 500;
}

#column {
    max-width: 80em;
    margin: auto;
    padding: 1.0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#course-trays {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tray {
    font-weight: 600;
    font-size: 14pt;
    flex-basis: 100%;
    margin-right: 3.0em;
    margin-top: 2.0em;
}

.tray-inner {
    height: 30em;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 1.0em;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.tray:last-child {
    margin-right: 0;
}

.add {
    color: #57cbff;
    text-decoration: none;
    cursor: pointer;
    float: right;
}

.add:hover {
    text-decoration: underline;
}

.course {
    position: relative;
    padding: 0.5em;
    font-size: 12pt;
    font-weight: initial;
    margin-bottom: 1.0em;
}

.course b:first-child { 
    font-size: 13pt;
}

/* course colors */
.course-english { background-color: #a1eeff; }
.course-science { background-color: #a1ffa1; }
.course-math { background-color: #ffa1a1; }
.course-social-science { background-color: #a1a1ff; }
.course-world-language { background-color: #ffa1ff; }
.course-elective { background-color: #ffdda1; }
.course-arts { background-color: #a1c3ff; }
.course-PE, .course-health, .course-CTE, .course-AVID { background-color: #cbcbcb; }

#modal-layer {

    /* occupy full screen */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    /* allow scrolling, the class selection modal often overflows */
    display: flex;
    overflow: auto;
    
    background-color: rgba(0, 0, 0, 50%);

}

#select-course-dialog {
    margin: auto;
    padding: 1.5em;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#select-course-dialog fieldset:not(:last-child) {
    margin-right: 1.0em;
}

legend {
    font-weight: bold;
    font-size: 13pt;
}

#courses-list {
    width: 100%;
    height: 30em;
    box-sizing: border-box;
    border: 1px solid #aaa;
    position: relative;
}

#courses-list-internal {
    height: 100%;
    overflow: auto;
}

.course-list-entry {
    margin: 1.0em;
    padding: 1.0em;
    cursor: pointer;
}

.course-list-entry h3 {
    margin-bottom: 0;
}

.course-stats {
    margin-top: 0;
}

fieldset {
    margin: 0;
}

#filter-school {
    width: 100%;
    box-sizing: border-box;
}

#filters {
    display: flex;
    flex-direction: row;
}

/* stylize searchbar in course selection dialog */
#search {
    width: 100%;
    box-sizing: border-box;
    font-size: 12pt;
    padding: 0.5em;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.close-button {

    /* basic styles */
    color: #000000;
    cursor: pointer;
    font-size: 2.0em;
    background: none;
    border: none;

    /* always position at the top of context */
    position: absolute;
    top: 0px;
    right: 0px;
}

#properties {
    margin-top: 2.0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* table styles */
table {
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
    font-size: 12pt;
}

/* center credits columns */
table td:first-child {
    text-align: left;
}

#credits-table td:not(:first-child) {
    text-align: center;
}

#credits-table {
    margin-right: 15.0em;
}

#ag-table td:last-child {
    font-weight: bold;
}

th {
    font-weight: 600;
    border-bottom: 1px solid #000000;
    height: 2.0em;
}

tr:not(:last-child) td {
    border-bottom: 1px solid #ccc;
}


/* only show remove button for classes on hover */
.course .close-button {
    display: none;
}

.course:hover .close-button {
    display: initial;
}

@media (max-width: 50em) {

    /* make course trays follow each other vertically */
    #course-trays {
        flex-direction: column;
    }

    /* reduce tray height */
    .tray-inner {
        height: 10em;
    }

    /* remove tray margin since they're now stacked*/ 
    .tray {
        margin-right: 0;
    }

    /* stack the filters, too */
    #filters {
        flex-direction: column;
    }

    #filter-school, #filters fieldset {
        width: 100%;
        box-sizing: border-box;
    }

    #credits-table {
        margin-right: 0;
    }

    #properties {
        flex-direction: column;
    }

}